@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@import "tailwindcss";

@theme {
  --color-red: #c73b0f;
  --color-rose-900: #260f08;
  --color-rose-500: #87635a;
  --color-rose-400: #ad8a85;
  --color-rose-300: #caafa7;
  --color-rose-100: #f5eeec;
  --color-rose-50: #fcf8f6;
  --color-green: #1ea575;
  --font-Red-Hat: "Red Hat Text", sans-serif;
}
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  border: none;
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  max-width: 32rem;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
}
